body{
    background-image: url(images/Logo_3D.png);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-y: scroll;
}
h1{
    color: white;
    font-size: 42px;
    text-decoration: underline;
    text-decoration: none;
    text-align: center;
}

.graduate-regular {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
}


.nav-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 24px;
    color: #00ff0d;
    display: none;
}

.nav-button:focus {
    color: #ff9500;
}

.logo {
    max-width: 100px;
    margin-left:30px;
}

.main-header {
    display: flex;
    flex-direction: row;
    background-color: #00000000;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.shop-nav {
    padding: 12px;
    width: 100%;
    background-color: #ffae0000;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 30px;
    flex-wrap: wrap;
}

.shop-nav a{
    color: #ff9500;
    text-decoration: none;
    padding: 10px;
}

.women {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #00ff0d;
    border-radius: 10%;
    padding: 5px;
}

.women:hover {
    background-color: #00000000;
    color: #7a00b3;
}

.men {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #00ff0d;
    border-radius: 10%;
}

.men:hover{
    background-color: #00000000;
    color: #7a00b3;
}

.kids {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #00ff0d;
    border-radius: 10%;
}

.kids:hover {
    background-color: #00000000;
    color: #7a00b3;
}

.brands {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #00ff0d;
    border-radius: 10%;
}

.brands:hover {
    background-color: #00000000;
    color: #7a00b3;
}

.specials {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #00ff0d;
    border-radius: 10%;
}

.specials:hover {
    background-color: #00000000;
    color: #7a00b3;
}

.shop-nav a:hover{
    color:#7a00b3
}

.user-nav a{
    color: #00ff0d;
    text-decoration: none;
}

.user-nav {
    font-size: 32pt;
    margin-right: 30px;
    color: #ffae0000;
}

.user-nav {
    margin-right: 30px;
}

.search {
    display: flex;
    min-width: 400px;
}

.search input {
    background-color: #00000000;
    border: 2px;
    flex: 1;
    padding: 10px;
}

.slide {
    background-color: #00ff0d;
    min-height: 50vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide:nth-child(1){
    background-image: url(images/Homepage\ wireframe\ desktop.jpg);
    display: flex;
    background-size:cover;

}


.slide:nth-child(2){
    background-color: #ffa600;
    background-image: url(images/Sports/nfl.jpg);
    display: flex;
    background-size: cover;
}

.slide:nth-child(3){
    background-color: #ffa600;
    background-image: url(images/Sports/soccer_5.jpeg);
    display: flex;
    background-size: cover;
}

.slide:nth-child(4){
    background-color: #ffa600;
    background-image: url(images/shoes.png);
    display: flex;
    background-size: cover;
}

.slide h2{
    font-family: "Graduate", serif;
    color: white;
    font-size: 6em;
    text-shadow: 3px 3px 3px black;
    margin: 1pt;
    position: absolute;
    top: 8px;
    left: 16px;
}

.content{
    margin: 3em auto;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12pt;
    position: relative;

}

.card img{
    max-width: 100%;
    float: left;
    width:  700px;
    height: 700px;
    object-fit: cover;
    display: flex;
    justify-content: space-around;
}

.card {
    position: relative;
    text-align: center;
    flex: 1;
    min-width: 360px;
    display: inline-block;
}

.card-content-men {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-content-men h3 {
    font-size: 60px;
    color: white;
    margin: 0;
    text-shadow: 3px 3px 3px black;
    font-family: "Graduate", serif;
}

.card-content-women {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-content-women h3 {
    font-size: 60px;
    color: white;
    margin: 0;
    text-shadow: 3px 3px 3px black;
    font-family: "Graduate", serif;
}

.card-content-kids {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-content-kids h3 {
    font-size: 60px;
    color: white;
    margin: 0;
    text-shadow: 3px 3px 3px black;
    font-family: "Graduate", serif;
}

.card-content{
    padding: 12pt;
}

.banner {
    width: 100%;
    background: linear-gradient( to right, purple,pink);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12pt;
}
.social a {
    text-decoration: none;
    font-size: 18pt;
    color: #00ff0d;
}
.main-footer {
    min-height: 20vh;
    background-color: #eeeeee;
    padding: 12pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16pt;
}
.footer-nav a {
    color: black;
    text-decoration: none;
}

#contact {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}
#contact input {
    margin-bottom: 1em;
    padding: 5px;
}
.form-button {
    padding: 5px;
    background-color: black;
    color: white;
    align-self: center;
    min-width: 200px;
}

@media screen and (max-width: 480px) {
    .main-header {
        position: relative;
    }
    .shop-nav {
        flex-direction: column;
        position: absolute;
        top: 100%;
        z-index: 99;
        min-height: 100vh;
        padding-top: 10px;
        gap: 15px;
    }

    .shop-nav.open {
        left: 0px;
    }

    .logo {
        max-width: 60px;
        margin-left: 0px;
    }

    .search {
        min-width: auto;
    }
    .user-nav {
        margin-right: 0px;
    }
    .card {
        min-width: 100%;
    }
    .content {
        max-width: 90vw;
    }
}
