body{
    background-image: url(images/Logo_3D.png);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-y: scroll;
}
h1{
    color: white;
    font-size: 42px;
    text-decoration: underline;
    text-decoration: none;
    text-align: center;
}

.logo {
    max-width: 100px;
    margin-left:30px;
}

.main-header {
    display: flex;
    flex-direction: row;
    background-color: #00000000;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.shop-nav {
    width: 100%;
    background-color: #ffae0000;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 30px;
    flex-wrap: wrap;
}

.shop-nav a{
    color: #00ff0d;
    text-decoration: none;
    padding: 10px;
}

.women {
    background-color: rgba(255, 255, 255, 0);
    color: #ff9500;
    border: 2px solid #00ff0d;
    border-radius: 10%;
    padding: 5px;
}

.women:hover {
    background-color: #00000000;
    color: #7a00b3;
}

.men {
    background-color: rgba(255, 255, 255, 0);
    color: #ff9500;
    border: 2px solid #00ff0d;
    border-radius: 10%;
}

.men:hover{
    background-color: #00000000;
    color: #7a00b3;
}

.kids {
    background-color: rgba(255, 255, 255, 0);
    color: #ff9500;
    border: 2px solid #00ff0d;
    border-radius: 10%;
}

.kids:hover {
    background-color: #00000000;
    color: #7a00b3;
}

.brands {
    background-color: rgba(255, 255, 255, 0);
    color: #ff9500;
    border: 2px solid #00ff0d;
    border-radius: 10%;
}

.brands:hover {
    background-color: #00000000;
    color: #7a00b3;
}

.specials {
    background-color: rgba(255, 255, 255, 0);
    color: #ff9500;
    border: 2px solid #00ff0d;
    border-radius: 10%;
}

.specials:hover {
    background-color: #00000000;
    color: #7a00b3;
}

.shop-nav a:hover{
    color:#7a00b3
}

.user-nav a{
    color: #00ff0d;
    text-decoration: none;
}

.user-nav {
    font-size: 32pt;
    margin-right: 30px;
    color: #ffae0000;
}

.user-nav {
    margin-right: 30px;
}

.search {
    display: flex;
    min-width: 400px;
}

.search input {
    background-color: #00000000;
    border: 2px;
    flex: 1;
    padding: 10px;
}

.slide {
    background-color: #00ff0d;
    min-height: 50vh;
    min-width: 100%;
    display: flex;
}

.slide:nth-child(1){
    background-image: url(images/Homepage\ wireframe\ desktop\ cropped.jpg); 
}


.slide:nth-child(2){
    background-color: #ffa600;
}

.slide h2{
    color: white;
    font-size: 6em;
    text-shadow: 3px 3px 3px black;
    margin: 1pt;
    position: absolute;
    top: 8px;
    left: 16px;
}

.content{
    margin: 3em auto;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12pt;
}

.card img{
    max-width: 100%;
    float: left;
    width:  700px;
    height: 700px;
    object-fit: cover;
    display: flex;
    justify-content: space-around;
}

.card {
    position: relative;
    text-align: center;
    flex: 1;
}

.card-content{
    font-size: 50pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    width: 100%;
    background: linear-gradient(45deg, #00ff0d, #7a00b3);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12pt;
}
.social a {
    text-decoration: none;
    font-size: 18pt;
    color: black;
}
.main-footer {
    min-height: 20vh;
    background-color: #eeeeee;
    padding: 12pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16pt;
}
.footer-nav a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .shop-nav {
        flex-direction: column;
    }
    .logo {
        max-width: 60px;
    }
}