body{
    background-image: url(images/Logo_3D.png);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1{
    color: white;
    font-size: 42px;
    text-decoration: underline;
    text-decoration: none;
    text-align: center;
}

.logo {
    max-width: 100px;
    margin-left:30px;
}

.main-header {
    display: flex;
    flex-direction: row;
    background-color: #00000000;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.shop-nav {
    width: 100%;
    background-color: #ffae0000;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 30px;
    flex-wrap: wrap;
}

.shop-nav a{
    color: #00ff0d;
    text-decoration: none;
    padding: 10px;
}

.shop-nav a:hover{
    color:#7a00b3
}

.user-nav a{
    color: #00ff0d;
    text-decoration: none;
}

.user-nav {
    font-size: 32pt;
    margin-right: 30px;
    color: #ffae0000;
}

.user-nav {
    margin-right: 30px;
}

.search {
    display: flex;
    min-width: 400px;
}

.search input {
    flex: 1;
    padding: 10px;
}

.banner1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 42px;
}

@media screen and (max-width: 480px) {
    .shop-nav {
        flex-direction: column;
    }
    .logo {
        max-width: 60px;
    }
}